
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
            font-size: 62.5%;
            font-family: 'Roboto', sans-serif;
        }
        
li {
            list-style:none;
        }
        
a {
            text-decoration: none;
        }
        
        .header{
            border-bottom: 1px solid #E2E8F0;
        }
        
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 1rem 2rem;
        
        }
        
        .hamburger {
            display: none;
        }
        
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #101010;
        }
        
        .nav-menu {
            display: flex;
            align-items: center;
            margin-right: 30%;
        }
        
        .nav-item {
            margin-left: 5rem;
        }
        
        .nav-link{
            font-size: 1.6rem;
            font-weight: 400;
            color:black;
    
        }
    
        .nav-link:hover{
            color:rgb(7, 7, 139);
        }
        
        .nav-logo {
            font-size: 2.1rem;
            font-weight: 800;
            color: rgb(7, 7, 139);
            margin-left: 10%;
        }
    
        .carousel .carousel-indicators li{
            width: 10px;
            height: 10px;
            border-radius: 100%;
}
        .carousel .carousel-indicators li.active{
            background: rgb(82, 82, 82) ;
}
        
        @media only screen and (max-width: 768px) {
            .nav-menu{
                position: fixed;
                left:100%;
                top: 5rem;
                flex-direction: column;
                background-color:rgb(252, 252, 252);
                width: 100%;
                transition: 0.8s;
                box-shadow:
                    0 10px 27px rgba(0, 0, 0, 0.05);
            }
        
            .nav-menu.active {
                left: 0;
            }
        
            .nav-item {
                margin: 2rem 0;
                margin-right: 80%;

            }
            .hamburger {
                display: block;
                cursor: pointer;
            }
        
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            .carousel-inner{
                z-index: -1;
            }
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
        
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        
           
        }
        

    








































































































































